.slider {
  margin-bottom: 100px;
  @media (max-width: 767px) {
    margin-bottom: 0;
  }
  .slide {
    position: relative;
    margin-bottom: 55px;
    @media (max-width: 767px) {
      margin-bottom: 38px;
    }
    .slide-holder {
      display: none;
      @keyframes fade-in {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
      &.visible {
        display: block;
      }
      img {
        animation: fade-in 0.4s ease-out;
        @keyframes fade-in {
          from {
            opacity: 0;
          }
          to {
            opacity: 1;
          }
        }
      }
      img.mobile {
        display: none;
        @media (max-width: 360px) {
          display: block;
          width: 360px;
          margin: 0 auto;
        }
      }
      img.desktop {
        @media (max-width: 360px) {
          display: none;
        }
      }
      article {
        position: absolute;
        top: 7.4%;
        right: 50%;
        margin-right: 6.3%;
        animation: fade-slide 0.4s ease-out;
        @keyframes fade-slide {
          from {
            opacity: 0;
            top: 0%;
          }
          to {
            opacity: 1;
            top: 7.4%;
          }
        }
        @media (max-width: 767px) {
          top: 6px;
          right: 0;
          margin-right: 0;
          left: 16px;
        }
        h2 {
          margin-bottom: 2.8vw;
          float: right;
          font-size: 3.2vw;
          line-height: 110%;
          @media (max-width: 767px) {
            margin-bottom: 33px;
            font-weight: 400;
            font-size: 5vw;
            line-height: 100%;
            float: none;
          }
        }
        h4 {
          width: 22.5vw;
          font-weight: 200;
          font-size: 2.1vw;
          line-height: 100%;
          float: right;
          @media (max-width: 767px) {
            max-width: 42.1%;
            font-size: 3.9vw;
            line-height: 150%;
            width: unset;
            float: none;
          }
        }
      }
    }
    .slider-controls {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      bottom: 1.5%;
      width: 100%;
      @media (max-width: 767px) {
        gap: 15px;
        bottom: 2.2%;
      }
      .radio {
        width: 20px;
        height: 20px;
        background: url(../images/icon-radio-unchecked.png);
        cursor: pointer;
        @media (max-width: 767px) {
          width: 10px;
          height: 10px;
          background-size: cover;
        }
        &.active {
          background: url(../images/icon-radio-checked.png);
          @media (max-width: 767px) {
            width: 10px;
            height: 10px;
            background-size: cover;
          }
        }
        &:hover {
          transform: translate(0, -2px);
        }
      }
    }
    button {
      position: absolute;
      left: 2%;
      top: calc(50% - 2.3vw);
      display: flex;
      align-items: center;
      justify-content: space-between;
      display: block;
      width: clamp(25px, 3vw, 50px);
      height: clamp(25px, 3vw, 50px);
      border-radius: 50%;
      background: $accent;
      opacity: 0.8;
      cursor: pointer;
      color: $creamy;
      font-family: "Courier New", Courier, monospace;
      font-size: 1.1vw;
      text-align: center;
      transition: all 0.2s ease-in;
      &:hover {
        color: white;
        opacity: 1;
        transform: translate(-3px);
      }
      &:last-of-type {
        left: unset;
        right: 2%;
        &:hover {
          transform: translate(3px);
        }
      }
    }
  }
  .button-catalogue {
    display: flex;
    justify-content: center;
    @media (max-width: 767px) {
      display: none;
    }
  }
}
