body {
    background: #f3f3f3;
    font-size: 18px;
    font-family: monospace;
}

#wrapper {
    max-width: 1024px;
    margin: 0 auto;
}

section {
    background: #E7ECEF;
    border: 1px solid #6F5E53;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 10px;
}

input,
label,
button,
h3 {
    display: block;
    padding: 5px;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    box-sizing: border-box;
}

input,
button {
    margin-bottom: 5px;
}

span {
    font-size: 1.5rem;
    display: block;
    width: fit-content;
    margin: 0 auto;

}

.practice-two input[type=number] {
    margin-bottom: 10px;
}